<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name,class: 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name,class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :email %>
    <%= form.text_field :email,class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :address %>
    <%= form.text_field :address,class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone,class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :role %>
    <%= form.text_field :role ,class: 'form-control' %>
  </div>

  <div class="actions" id="buttonright">

    <%= form.submit:class => 'btn btn-dark'  %>

  </div>



<% end %>
