
<p id="notice"><%= notice %></p>

<div class="container-fluid">

  <!-- web application title -->
  <div class="col-xs-12 text-center">
    <p id="apptitle">Hou-Tex Auto Dealership</p>
  </div>
</div>

<!--NEW navigation bar made using css instead of bootstrap-->


<div class="topnav" id="myTopnav">

  <a href="/cars" c>CARS</a>

  <a href="/employees">EMPLOYEES</a>

  <a href="/sales">SALES</a>

  <a href="/customers">CUSTOMERS</a>

  <a href="/loans">LOANS</a>

  <a href="/users">USERS</a>

</div>



<!-- page title -->


<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <p id="title">Employees</p>
  </div>
  <div class="col-md-2">

  </div>
</div>






<!-- area above table -->
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">

    <div id="createemp">



      <% if can? :create, @employee %>
        <%= link_to 'New Employee', new_employee_path, class: 'btn btn-dark' %>
      <%end%>


    </div>

    <div id="searchemp">
    <%= form_tag employees_path, :method => 'get', :id => "employees_search" do %>

        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil , class: 'btn btn-dark'%>

    <% end %>
    </div>

  </div>
  <div class="col-md-2">

  </div>
</div>

<!-- table -->
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <table class="table table-bordered table-hover table-dark" id="cartable" >
      <thead>
      <tr>
        <th scope="col"  width="230px" >First Name</th>
        <th scope="col"  width="230px" >Last Name</th>
        <th scope="col"  width="230px" >Email</th>
        <th scope="col"  width="230px" >Address</th>
        <th scope="col"  width="230px">Phone Number</th>
        <th scope="col"  width="230px">Role</th>
        <th colspan="3">Update Record</th>
      </tr>
      </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.address %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.role %></td>
        <% if can? :read, @employee %>
        <td><%= link_to 'Show', employee %></td>
          <%end%>
        <% if can? :update, @employee %>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
          <%end%>
        <% if can? :destroy, @employee %>
        <td><%= link_to 'Remove', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
  <div class="col-md-2">

  </div>
</div>


</div>






