


<p id="notice"><%= notice %></p>



<div class="container-fluid">


  <!-- web application title -->
  <div class="col-xs-12 text-center">

    <div id="cartest"></div>
    <p id="apptitle">Hou-Tex Auto Dealership</p>


  </div>



  <!--NEW navigation bar made using css instead of bootstrap-->


  <div class="topnav" id="myTopnav">

    <a href="/cars" c>CARS</a>

    <a href="/employees">EMPLOYEES</a>

    <a href="/sales">SALES</a>

    <a href="/customers">CUSTOMERS</a>

    <a href="/loans">LOANS</a>

    <a href="/users">USERS</a>

  </div>



  <!-- page title -->


  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <p id="title">Employees</p>
    </div>
    <div class="col-md-8">

    </div>
  </div>




  <!-- middle row page section -->
  <!-- form section -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">

      <div id="empform">
        <p id="formtitle">New Employee Created</p>

        <p>
          <strong>Name:</strong>
          <%= @employee.name %>
          <br/>



        </p>

        <p>
          <strong>Last name:</strong>
          <%= @employee.last_name %>
          <br/>

        </p>

        <p>
          <strong>Email:</strong>
          <%= @employee.email %>
          <br/>

        </p>

        <p>
          <strong>Address:</strong>
          <%= @employee.address %>
          <br/>

        </p>

        <p>
          <strong>Phone:</strong>
          <%= @employee.phone %>
          <br/>

        </p>

        <p>
          <strong>Role:</strong>
          <%= @employee.role %>
        </p>

        <% if can? :update, @employee %>


        <div id="backne">
          <%= link_to 'Back', employees_path,class: 'btn btn-dark' %>
        </div>
        <div id="editne">
          <%= link_to 'Edit', edit_employee_path(@employee),class: 'btn btn-dark' %>
        </div>

        <%end%>



      </div>





    </div>





  </div>
  <div class="col-md-2">

  </div>
</div>


<br>



</div>











