<p id="notice"><%= notice %></p>


<div class="container-fluid">


  <!-- web application title -->
  <div class="col-xs-12 text-center">

    <div id="cartest"></div>
    <p id="apptitle">Hou-Tex Auto Dealership</p>


  </div>

  <!--NEW navigation bar made using css instead of bootstrap-->


  <div class="topnav" id="myTopnav">

    <a href="/cars">CARS</a>

    <a href="/employees">EMPLOYEES</a>

    <a href="/sales">SALES</a>

    <a href="/customers">CUSTOMERS</a>

    <a href="/loans">LOANS</a>

    <a href="/users">USERS</a>

  </div>



  <!-- page title -->


  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <p id="title">Users</p>
    </div>
    <div class="col-md-8">

    </div>
  </div>

  <!-- car button and search bar -->

  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div id="rightsearch">

        <%= form_tag users_path, :method => 'get', :id => "users_search" do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil ,class: 'btn btn-dark'%>
          </p>
        <% end %>


      </div>
      <div id="leftcar">

        <% if can? :create, @user %>
          <%= link_to 'New User', new_user_path,class: 'btn btn-dark' %>

        <%end%>
      </div>
    </div>
    <div class="col-md-2">

    </div>
  </div>


  <!-- table -->

  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">

      <table class="table table-bordered table-hover table-dark" id="cartable" >
        <thead>
        <tr>
          <th>User Id</th>
          <th>Email</th>
          <th>Role</th>
          <th colspan="3">Update Record</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <% if can? :read, @user %>
              <td><%= link_to 'Show', user %></td>
            <%end%>
            <% if can? :update, @user %>
              <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <%end%>
            <% if can? :destroy, @user %>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <%end%>
          </tr>
        <% end %>
        </tbody>




      </table>


    </div>
    <div class="col-md-2">

    </div>
  </div>







  <br>



</div>



