<p id="notice"><%= notice %></p>

<div class="container-fluid">


  <!-- web application title -->
  <div class="col-xs-12 text-center">

    <div id="cartest"></div>
    <p id="apptitle">Hou-Tex Auto Dealership</p>


  </div>



  <!--NEW navigation bar made using css instead of bootstrap-->


  <div class="topnav" id="myTopnav">

    <a href="/cars" >CARS</a>

    <a href="/employees">EMPLOYEES</a>

    <a href="/sales">SALES</a>

    <a href="/customers">CUSTOMERS</a>

    <a href="/loans">LOANS</a>

    <a href="/users">USERS</a>

  </div>



  <!-- page title -->


  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <p id="title">Users</p>
    </div>
    <div class="col-md-8">

    </div>
  </div>




  <!-- middle row page section -->
  <!-- form section -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div id="loancreatedform">
        <p id="formtitle">User Created</p>
        <p>
          <strong>User Id:</strong>
          <%= @user.id %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>

        <p>
          <strong>Role:</strong>
          <%= @user.role %>
        </p>

        <% if can? :update, @user %>
          <div id="backnlcreated">
            <%= link_to 'Back', users_path,class:'btn btn-dark' %>   </div>
          <div id="editnl">
            <%= link_to 'Edit', edit_user_path(@user),class:'btn btn-dark' %></div>


        <%end%>

      </div>




      </div>





    </div>
    <div class="col-md-2">

    </div>
  </div>




