<p id="notice"><%= notice %></p>

<!-- CUSTOMERS main page -->




<div class="container-fluid">


  <!-- web application title -->
  <div class="col-xs-12 text-center">

    <div id="cartest"></div>
    <p id="apptitle">Hou-Tex Auto Dealership</p>


  </div>

  <!--NEW navigation bar made using css instead of bootstrap-->


  <div class="topnav" id="myTopnav">

    <a href="/cars" c>CARS</a>

    <a href="/employees">EMPLOYEES</a>

    <a href="/sales">SALES</a>

    <a href="/customers">CUSTOMERS</a>

    <a href="/loans">LOANS</a>

    <a href="/users">USERS</a>

  </div>



  <!-- page title -->


  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <p id="title">Customers</p>
    </div>
    <div class="col-md-8">

    </div>
  </div>

  <!-- car button and search bar -->

  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div id="rightsearch">

        <%= form_tag customers_path, :method => 'get', :id => "customer_search" do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil ,class: 'btn btn-dark'%>
          </p>
        <% end %>


      </div>
      <div id="leftcar">

        <% if can? :create, @customer %>
          <%= link_to 'New Customer', new_customer_path,class: 'btn btn-dark' %>
        <%end%>
      </div>
    </div>
    <div class="col-md-2">

    </div>
  </div>


  <!-- table -->

  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">

      <table class="table table-bordered table-hover table-dark" id="cartable" >
        <thead>
        <tr>
          <th scope="col"  width="230px" >First Name</th>
          <th scope="col"  width="230px" >Last Name</th>
          <th scope="col"  width="230px" >Email</th>
          <th scope="col"  width="230px">Phone</th>
          <th scope="col"  width="230px">Address</th>
          <th scope="col"  width="230px" >City</th>
          <th scope="col"  width="230px" >State</th>
          <th scope="col"  width="230px" >Zipcode</th>
          <th scope="col"  width="230px" >Preferred Contact</th>
          <th colspan="3">Update</th>
        </tr>
        </thead>

        <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.first_name %></td>
            <td><%= customer.last_name %></td>
            <td><%= customer.email %></td>
            <td><%= customer.phone %></td>
            <td><%= customer.address %></td>
            <td><%= customer.city %></td>
            <td><%= customer.state %></td>
            <td><%= customer.zip %></td>
            <td><%= customer.preffered_contact %></td>
            <td><%= link_to 'Show', customer %></td>
            <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
            <td><%= link_to 'Remove', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
        <% end %>
        </tbody>


      </table>





    </div>
    <div class="col-md-2">

    </div>
  </div>







  <br>



</div>






