
<p id="notice"><%= notice %></p>



<div class="container-fluid">


  <!-- web application title -->
  <div class="col-xs-12 text-center">


    <p id="apptitle">Hou-Tex Auto Dealership</p>


  </div>



  <!--NEW navigation bar made using css instead of bootstrap-->


  <div class="topnav" id="myTopnav">

    <a href="/cars" c>CARS</a>

    <a href="/employees">EMPLOYEES</a>

    <a href="/sales">SALES</a>

    <a href="/customers">CUSTOMERS</a>

    <a href="/loans">LOANS</a>

    <a href="/users">USERS</a>

  </div>



  <!-- page title -->


  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <p id="title">Customers</p>
    </div>
    <div class="col-md-8">

    </div>
  </div>




  <!-- middle row page section -->
  <!-- form section -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">

      <p id="notice"><%= notice %></p>



      <div id="customerform">


        <p id="formtitle">Customer Created</p>
        <p>
          <strong>First name:</strong>
          <%= @customer.first_name %>
        </p>

        <p>
          <strong>Last name:</strong>
          <%= @customer.last_name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @customer.email %>
        </p>

        <p>
          <strong>Phone:</strong>
          <%= @customer.phone %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @customer.address %>
        </p>

        <p>
          <strong>City:</strong>
          <%= @customer.city %>
        </p>

        <p>
          <strong>State:</strong>
          <%= @customer.state %>
        </p>

        <p>
          <strong>Zip:</strong>
          <%= @customer.zip %>
        </p>

        <p>
          <strong>Preffered contact:</strong>
          <%= @customer.preffered_contact %>
        </p>



        <div id="backnc">
          <%= link_to 'Back', customers_path ,class: 'btn btn-dark'%>
        </div>

        <div id="editnc">
          <%= link_to 'Edit', edit_customer_path(@customer),class: 'btn btn-dark' %>
        </div>

      </div>






    </div>





  </div>
  <div class="col-md-2">

  </div>
</div>


<br>



</div>




</div>