<h1>Amortization Schedule</h1>
<table class = "table table-hover">
  <thead>

    <tr>
      <td>Period</td>
      <td>Payment</td>
      <td>Principal</td>
      <td>Interest</td>
      <td>Loan Balance</td>
    </tr>

  </thead>

  <tbody>
    <% for i in (1..@loan.periods) %>
      <tr>
        <td><%= i %></td>
        <td><%= @loan.calculation[:payments][i] %></td>
        <td><%= @loan.calculation[:principals][i] %></td>
        <td><%= @loan.calculation[:interests][i] %></td>
        <td><%= @loan.calculation[:balances][i] %></td>
      </tr>
    <%end %>

  </tbody>

</table>

<p></p>

<div class="container">

  <%#= render 'loan_information' %>

  <br>

  <p id="notice"><%=notice%></p>
</div>

