<!-- LOANS main page -->
<p id="notice"><%= notice %></p>



<div class="container-fluid">


  <!-- web application title -->
  <div class="col-xs-12 text-center">

    <div id="cartest"></div>
    <p id="apptitle">Hou-Tex Auto Dealership</p>


  </div>

  <!--NEW navigation bar made using css instead of bootstrap-->


  <div class="topnav" id="myTopnav">

    <a href="/cars">CARS</a>

    <a href="/employees">EMPLOYEES</a>

    <a href="/sales">SALES</a>

    <a href="/customers">CUSTOMERS</a>

    <a href="/loans">LOANS</a>

    <a href="/users">USERS</a>

  </div>



  <!-- page title -->


  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <p id="title">Loans</p>

    </div>
<br>
    <div class="col-md-8">

    </div>
  </div>

  <!-- car button and search bar -->

  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div id="rightsearch">

        <%#= form_tag loans_path, :method => 'get', :id => "loans_search" do %>
<!--          <p>-->
            <%#= text_field_tag :search, params[:search] %>
            <%#= submit_tag "Search", :name => nil ,class: 'btn btn-dark'%>
<!--          </p>-->
        <%# end %>


      </div>
      <div id="leftindex">

        <% if can? :create, @loan %>
          <%= link_to 'New Loan', new_loan_path,class: 'btn btn-dark' %>

        <%end%>
      </div>

    </div>
    <div class="col-md-2">

    </div>
  </div>


  <!-- table -->

  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">

      <table class="table table-bordered table-hover table-dark" id="cartable" >
        <thead>
        <tr>
          <th scope="col"  width="230px" >Principal</th>
          <th scope="col"  width="230px" >Interest Rate</th>
          <th scope="col"  width="230px" >Periods</th>
          <th scope="col"  width="230px">Payment Type</th>
          <th colspan="3">Update Record</th>
        </tr>
        </thead>

        <tbody>
        <% @loans.each do |loan| %>
          <tr>
            <td><%= loan.principal %></td>
            <td><%= loan.interest_rate %></td>
            <td><%= loan.periods %></td>
            <td><%= loan.payment_type %></td>
            <td><%= link_to 'Show', loan %></td>
            <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
            <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
        <% end %>
        </tbody>


      </table>


    </div>
    <div class="col-md-2">

    </div>
  </div>







  <br>



</div>



