<p id="notice"><%= notice %></p>

<div class="container-fluid">


  <!-- web application title -->
  <div class="col-xs-12 text-center">

    <div id="cartest"></div>
    <p id="apptitle">Hou-Tex Auto Dealership</p>


  </div>



  <!--NEW navigation bar made using css instead of bootstrap-->


  <div class="topnav" id="myTopnav">

    <a href="/cars" >CARS</a>

    <a href="/employees">EMPLOYEES</a>

    <a href="/sales">SALES</a>

    <a href="/customers">CUSTOMERS</a>

    <a href="/loans">LOANS</a>

    <a href="/users">USERS</a>

  </div>



  <!-- page title -->


  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <p id="title">Loans</p>
    </div>
    <div class="col-md-8">

    </div>
  </div>



  <!-- middle row page section -->




  <!-- form section -->
  <div class="row">

    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div id="loancreatedform">

        <p id="formtitle">Loan Created</p>

        <p>
          <strong>Principal:</strong>
          <%= @loan.principal %>
        </p>

        <p>
          <strong>Interest rate:</strong>
          <%= @loan.interest_rate %>
        </p>

        <p>
          <strong>Periods:</strong>
          <%= @loan.periods %>
        </p>

        <p>
          <strong>Payment type:</strong>
          <%= @loan.payment_type %>
        </p>


        <% if can? :update, @loan %>
          <div id="backnlcreated">
            <%= link_to 'Back', loans_path,class:'btn btn-dark' %>
          </div>


          <div id="editnl">
            <%= link_to 'Edit', edit_loan_path(@loan),class:'btn btn-dark' %>
          </div>

        <%end%>


    </div>

    <div class="col-md-2">

    </div>

  </div>

<!--  Form Section Ends-->

  <!-- new grid row-->


  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <!-- add your code here -->
    </div>
    <div class="col-md-8">

    </div>
  </div>


  <%= render :partial => "loans/amortization_schedule"  %>

</div>

  <%=link_to "Create PDF document", loan_path(@loan, format: "pdf")%>







</div>

