/*
 Our team chose a very simplistic color scheme
 of black and white plus a few greys
 we made a conscious decision not to use brighter colors/diff color scheme
 our aim was to have our project look as close to a professional dealership page
 */

@import 'bootstrap';

//Sign-in/ Application.html.erb Page --------------------------------------

#topbar{
 max-width: 1445px;
  height: 35px;
 // background-color: #3E4551 ;
  padding-left:17px;
  padding-top:3px;
  margin-left:15px;
color: black;
}


body {
  min-height: 1300px;
  // next two lines are for original bckground with grey to black fade
  //background-color: black; /* For browsers that do not support gradients */
  //background-image: linear-gradient(grey, black); /* Standard syntax (must be last) */
  background-color:white;

}

#guac_warning{
  max-width: 500px;
  padding-left:14px;
}

#new_user{
  text-align: left;
}

#signinbox {

  padding-left:20px;
}


//Cars Page ---------------------------------------------------------


.editprofbutton{
  border: 1px solid black;
  //background-color: #3E4551;
  color: black;
  padding: 2px 6px 3px 6px;
  font-size: 16px;
  cursor: pointer;

  margin-top:3px;
}

.logoutbutton{
  border: 1px solid black;
  //background-color: #3E4551;
  color: black;
  padding: 2px 6px 3px 6px;
  font-size: 16px;
  cursor: pointer;


}

cartable{
  min-width:600px;
}

carcontainer{
  width: 900px;
  height: 900px;
  background-color: #555;
}

cars_path{

  place-content: end right;
}

#rightbutton{
  position: absolute; right: 0;
  float:right;
}

#bannertemp{
  width: 900px;
  height: 100px;
  background-color: #555;

}

#rightsearch{
  float:right;

}

#leftcar{
  float:left;

}

#title{
  font-size:40px;

 color:black;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.navbar{
  max-width:1445px;
  background-color: black !important;
  color:white!important;
}

.navbar-nav.mr-auto li a {
  color: blue;
}

.nav-item{

    color: blue;


}

// NEW navigation bar made using css instead of bootstrap
// background color
.topnav {
  background-color:black;
  overflow: hidden;
}

// link text style
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

// color change on hover
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


// hidden link for smaller screen when responsive
.topnav .icon {
  display: none;
}


#apptitle{
  font-size:55px;
  color:black;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 25px;
}





// Add New Car form **********************************

#carform{
 max-width:550px;
  min-height:700px;

  background-color:white;
  color:black;
  font-family:"Arial", Helvetica, sans-serif;
  border-style: solid;
  border-width: 3px;
  border-color:#212529;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
  padding-left: 20px;


}


#formtitle{
  color:black;
  font-size:25px;
  font-weight:bold;

}



#backbutton{
  padding-top: 10px;
  float:left;
}

#buttonright{
  padding-top: 10px;
  float: right;
}

// new created car page (show.html.erb) *******************************



#backnc{
  padding-top: 24px;
  float:left;
}

#editnc{
  padding-top: 30px;
  float:right;
}


// employee main page (index.html.erb) *******************************

#createemp{
  float:left;
 padding-bottom:10px;

}

#searchemp{
  float:right;
}

// show (new) employee  (show.html.erb) *******************************

#backne{
  padding-top: 24px;
  float:left;
  display: inline-block
}

#editne{
  padding-top: 30px;
  float:right;
}

//form for show employee
// had to make shorter form bc has less info
#empform{
  max-width:550px;
  min-height:400px;

  background-color:white;
  color:black;
  font-family:"Arial", Helvetica, sans-serif;
  border-style: solid;
  border-width: 3px;
  border-color:#212529;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
  padding-left: 20px;


}

//sales ************************************

//form for new sales
// made shorter form bc has less info
#salesform{
  max-width:550px;
  min-height:400px;

  background-color:white;
  color:black;
  font-family:"Arial", Helvetica, sans-serif;
  border-style: solid;
  border-width: 3px;
  border-color:#212529;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
  padding-left: 20px;

}


//form for new sales
// made shorter form bc has less info
#customerform{
  max-width:550px;
  min-height:470px;

  background-color:white;
  color:black;
  font-family:"Arial", Helvetica, sans-serif;
  border-style: solid;
  border-width: 3px;
  border-color:#212529;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  padding-left: 20px;

}


//form loans sales
// less info
#loanform{
  max-width:350px;
  max-height:270px;

  background-color:white;
  color:black;
  font-family:"Arial", Helvetica, sans-serif;
  border-style: solid;
  border-width: 3px;
  border-color:#212529;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  padding-left: 20px;

}

#backnl{
  padding-top:10px;
  float:left;
}

#backnlcreated{
 // padding-top:10px;
  float:left;
}

#editnl{
  //padding-top:10px;
  float:right;
}

#loancreatedform{
  max-width:350px;
  max-height:320px;

  background-color:white;
  color:black;
  font-family:"Arial", Helvetica, sans-serif;
  border-style: solid;
  border-width: 3px;
  border-color:#212529;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  padding-left: 20px;

}

#leftindex{
  padding-bottom:7px;
  float:left;
}

#pdfleft {
  float: left;
}