// Place all the styles related to the Cars controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-table {
  color: black;
}

#cartest{
  max-width:  60px;
  height: 35px;
  background-color: #3E4551 ;
  padding-left:10px;
  padding-top:3px;
  margin-left:15px;
  color: #868e96;

}