<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :model %>
    <%= form.text_field :model, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :color %>
    <%= form.text_field :color, class: 'form-control' %>




  </div>

  <div class="field form-group">
    <%= form.label :maker %>
    <%= form.text_field :maker, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :year %>
    <%= form.number_field :year, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :vin %>
    <%= form.text_field :vin, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, class:'button' %>



      </div>


  <div class="actions" id="buttonright"  >

    <%= form.submit:class => 'btn btn-dark' %>
  </div>


<% end %>
