<!-- CARS main page -->
<p id="notice"><%= notice %></p>



<div class="container-fluid">


  <!-- web application title -->
  <div class="col-xs-12 text-center">

    <div id="cartest"></div>
    <p id="apptitle">Hou-Tex Auto Dealership</p>


  </div>

  <!--NEW navigation bar made using css instead of bootstrap-->


  <div class="topnav" id="myTopnav">

    <a href="/cars" c>CARS</a>

    <a href="/employees">EMPLOYEES</a>


    <a href="/sales">SALES</a>


    <a href="/customers">CUSTOMERS</a>

    <a href="/loans">LOANS</a>

    <a href="/users">USERS</a>

  </div>



<!-- page title -->


<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <p id="title">Cars</p>
  </div>
  <div class="col-md-8">

  </div>
</div>

<!-- car button and search bar -->

<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <div id="rightsearch">

    <%= form_tag cars_path, :method => 'get', :id => "cars_search" do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil ,class: 'btn btn-dark'%>
      </p>
    <% end %>


    </div>
    <div id="leftcar">

      <% if can? :create, @car %>
        <%= link_to 'New Car', new_car_path,class: 'btn btn-dark' %>
      <%end%>
    </div>
  </div>
  <div class="col-md-2">

  </div>
</div>


<!-- table -->

<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">

    <table class="table table-bordered table-hover table-dark" id="cartable" >
      <thead>
      <tr>
        <th scope="col"  width="230px" >Model</th>
        <th scope="col"  width="230px" >Color</th>
        <th scope="col"  width="230px" >Maker</th>
        <th scope="col"  width="230px">Year</th>
        <th scope="col"  width="230px">Price</th>
        <th scope="col"  width="230px" >VIN</th>
        <th scope="col"  width="230px" >Image</th>
        <th colspan="3">Update</th>
      </tr>
      </thead>

      <tbody>
      <% @cars.each do |car| %>
        <tr>
          <th scope="row"><%= car.model %></th>
          <td><%= car.color %></td>
          <td><%= car.maker %></td>
          <td><%= car.year %></td>
          <td><%= car.price %></td>
          <td><%= car.vin %></td>
          <td><%=image_tag(car.image, style:'width:85px;height:40px') %></td>
          <td><%= link_to 'Show', car %></td>
          <td><%= link_to 'Edit', edit_car_path(car) %></td>
          <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' },
                          :remote => true, :class => 'delete_car'%></td>
        </tr>
      <% end %>
      </tbody>


    </table>


  </div>
  <div class="col-md-2">

  </div>
</div>





  <%= will_paginate @cars %>

<br>



</div>

