
<p id="notice"><%= notice %></p>



<div class="container-fluid">


  <!-- web application title -->
  <div class="col-xs-12 text-center">

    <div id="cartest"></div>
    <p id="apptitle">Hou-Tex Auto Dealership</p>


  </div>



  <!--NEW navigation bar made using css instead of bootstrap-->


  <div class="topnav" id="myTopnav">

    <a href="/cars" c>CARS</a>

    <a href="/employees">EMPLOYEES</a>

    <a href="/sales">SALES</a>

    <a href="/customers">CUSTOMERS</a>

    <a href="/loans">LOANS</a>

    <a href="/users">USERS</a>

  </div>



  <!-- page title -->


  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <p id="title">Cars</p>
    </div>
    <div class="col-md-8">

    </div>
  </div>




  <!-- middle row page section -->
  <!-- form section -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">



      <div id="carform">
        <p id="formtitle">New Car Created</p>

        <p>
          <strong>Model:</strong>
          <%= @car.model %>
          <br/>

        </p>

        <p>
          <strong>Color:</strong>
          <%= @car.color %>
          <br/>

        </p>

        <p>
          <strong>Maker:</strong>
          <%= @car.maker %>
          <br/>

        </p>

        <p>
          <strong>Year:</strong>
          <%= @car.year %>
          <br/>

        </p>

        <p>
          <strong>Price:</strong>
          <%= @car.price %>
          <br/>

        </p>

        <p>
          <strong>Vin:</strong>
          <%= @car.vin %>
          <br/>

        </p>


        <p align="middle">

          <%=image_tag(@car.image, style:'width:462px;height:302px') %>

        </p>

        <% if can? :update, @car %>

          <div id="backnc">

            <%= link_to 'Back', cars_path ,class: 'btn btn-dark'%>
          </div>

          <div id="editnc">

            <%= link_to 'Edit', edit_car_path(@car),class: 'btn btn-dark' %>
          </div>

        <%end%>




      </div>





    </div>
    <div class="col-md-2">

    </div>
  </div>


  <br>



</div>







