<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :salesperson %>
    <%= form.text_field :salesperson %>
  </div>

  <div class="field">
    <%= form.label :salesperson_phone %>
    <%= form.text_field :salesperson_phone %>
  </div>

  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>

  <div class="field">
    <%= form.label :customer_lastname %>
    <%= form.text_field :customer_lastname %>
  </div>

  <div class="field">
    <%= form.label :car_model %>
    <%= form.text_field :car_model %>
  </div>

  <div class="field">
    <%= form.label :car_make %>
    <%= form.text_field :car_make %>
  </div>

  <div class="field">
    <%= form.label :car_vin %>
    <%= form.text_field :car_vin %>
  </div>

  <div class="field">
    <%= form.label :car_color %>
    <%= form.text_field :car_color %>
  </div>

  <div class="field">
    <%= form.label :car_price %>
    <%= form.text_field :car_price %>
  </div>


  <div class="actions" id="buttonright">
    <%= form.submit:class => 'btn btn-dark' %>
  </div>

<% end %>
