<p id="notice"><%= notice %></p>


<div class="container-fluid">

  <!-- web application title -->
  <div class="col-xs-12 text-center">
    <p id="apptitle">Hou-Tex Auto Dealership</p>
  </div>
</div>

<!--NEW navigation bar made using css instead of bootstrap-->


<div class="topnav" id="myTopnav">

  <a href="/cars" c>CARS</a>

  <a href="/employees">EMPLOYEES</a>

  <a href="/sales">SALES</a>

  <a href="/customers">CUSTOMERS</a>

  <a href="/loans">LOANS</a>

  <a href="/users">USERS</a>

</div>



<!-- page title -->


<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <p id="title">Sales</p>
  </div>
  <div class="col-md-2">

  </div>
</div>






<!-- area above table -->
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">

    <div id="createemp">



      <% if can? :create, @sale %>
        <%= link_to 'New Sale', new_sale_path,class: 'btn btn-dark'%>


      <%end%>


    </div>

    <div id="searchemp">
      <%= form_tag sales_path, :method => 'get', :id => "sales_search" do %>

        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil , class: 'btn btn-dark'%>

      <% end %>
    </div>

  </div>
  <div class="col-md-2">

  </div>
</div>

<!-- table -->
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <table class="table table-bordered table-hover table-dark" id="cartable" >
      <thead>
      <tr>
        <th scope="col"  width="230px" >Salesperson</th>
        <th scope="col"  width="230px" >Salesperson Phone</th>
        <th scope="col"  width="230px" >Customer Name</th>
        <th scope="col"  width="230px" >Customer Lastname</th>
        <th scope="col"  width="230px" >Car Model</th>
        <th scope="col"  width="230px">Car Make</th>
        <th scope="col"  width="230px">Car Vin</th>
        <th scope="col"  width="230px">Car Color</th>
        <th scope="col"  width="230px">Car Price</th>
        <th scope="col"  width="230px">Car Total Price</th>


<!--        <th colspan="3">Update Record</th>-->
      </tr>
      </thead>

      <tbody>
      <% @sales.each do |sale| %>
        <tr>
          <td><%= sale.salesperson %></td>
          <td><%= sale.salesperson_phone %></td>
          <td><%= sale.customer_name %></td>
          <td><%= sale.customer_lastname %></td>
          <td><%= sale.car_model %></td>
          <td><%= sale.car_make %></td>
          <td><%= sale.car_vin %></td>
          <td><%= sale.car_color %></td>
          <td><%= sale.car_price %></td>
          <td><%= sale.car_total(sale.car_price) %></td>
          <td><%= link_to 'Show', sale %></td>
          <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
          <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
  <div class="col-md-2">

  </div>
</div>


<br>


</div>







