<p id="notice"><%= notice %></p>




<div class="container-fluid">


  <!-- web application title -->
  <div class="col-xs-12 text-center">


    <p id="apptitle">Hou-Tex Auto Dealership</p>


  </div>



  <!--NEW navigation bar made using css instead of bootstrap-->


  <div class="topnav" id="myTopnav">

    <a href="/cars" c>CARS</a>

    <a href="/employees">EMPLOYEES</a>

    <a href="/sales">SALES</a>

    <a href="/customers">CUSTOMERS</a>

    <a href="/loans">LOANS</a>

    <a href="/users">USERS</a>

  </div>



  <!-- page title -->


  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <p id="title">Sales</p>
    </div>
    <div class="col-md-8">

    </div>
  </div>




  <!-- middle row page section -->
  <!-- form section -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">

      <div id="salesform">
        <p id="formtitle">Sale Created</p>
        <p>
          <strong>Salesperson:</strong>
          <%= @sale.salesperson %>
        </p>

        <p>
          <strong>Salesperson phone:</strong>
          <%= @sale.salesperson_phone %>
        </p>

        <p>
          <strong>Customer name:</strong>
          <%= @sale.customer_name %>
        </p>

        <p>
          <strong>Customer lastname:</strong>
          <%= @sale.customer_lastname %>
        </p>

        <p>
          <strong>Car model:</strong>
          <%= @sale.car_model %>
        </p>

        <p>
          <strong>Car make:</strong>
          <%= @sale.car_make %>
        </p>

        <p>
          <strong>Car vin:</strong>
          <%= @sale.car_vin %>
        </p>

        <p>
          <strong>Car color:</strong>
          <%= @sale.car_color %>
        </p>

        <p>
          <strong>Car price:</strong>
          <%= @sale.car_price %>
        </p>

        <div id="backnc">

          <%= link_to 'Back', sales_path ,class: 'btn btn-dark' %>
        </div>

        <div id="editnc">
          <%= link_to 'Edit', edit_sale_path(@sale),class: 'btn btn-dark'  %>
        </div>







      </div>





  </div>
  <div class="col-md-2">

  </div>
</div>


<br>


  <%=link_to "Create PDF document", sales_path(@sale, format: "pdf")%>
</div>







