
<!DOCTYPE html>
<html>
<!-- Sign-in Page -->
<head>

  <title>CIS4339SemesterProject</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <div id="topbar">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.

        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'editprofbutton' %> |

      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'logoutbutton'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>

    </div>

<!-- old guacamole navbar
  <nav id="nav" class="navbar float-middle">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Holy guacamole!</strong> You should check out some of those fields below.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nav>
  -->

<!--<div id="guac_warning">-->
<!--    <div class="alert alert-warning alert-dismissible fade show" role="alert">-->
<!--      <strong>Holy guacamole!</strong> You should check out some of those fields below.-->
<!--      <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
<!--    </div>-->
<!--</div>-->

</head>



  <body >



  <div id="signinbox">

  <% if notice %>

    <p class="alert alert-success alert-dismissible fade show" ><%= notice %></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  <% end %>
  <% if alert %>
    <p class="alert alert-dark"><%= alert %></p>
  <% end %>

  <%= yield %>
  </div>






  </body>



</html>

